cat > .gitignore <<'EOF'
# Rendered R Markdown output
*.html
*_files/

# C build artefacts
*.o
*.so

# R session files
.Rhistory
.RData
.Rproj.user/
EOF

# Double checking Met Eireann data is not added to github
met_eireann_daily_data/
*.csv*.rds
